include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Kundkort
      .row
        .small-12.columns
          a.button(href='#') Skapa ny
          span.dynatable-custom-select Grupptillhörighet
            select#search-group(name='group')
              option
                option JOS
                option JUICE
          table#group-table.dynamic-table
            thead
              tr
                th Företag / Kontaktperson
                th Senaste Aktivitet
                th Grupptillhörighet
                th Kundansvarig
            tbody
              tr
                td 
                  a(href="index.html") 1 publik / 3 utkast
                td
                  | Giacomo Guilizzoni
                  br
                  | Founder & CEO
                td Pelle Persson
                td JOS
              tr
                td 2 publik / 3 utkast
                td
                  | Lorem Ipsum
                  br
                  | Founder & CEO
                td Kalle Kanin
                td JUICE
              tr
                td 1 publik / 3 utkast
                td
                  | Giacomo Guilizzoni
                  br
                  | Founder & CEO
                td Pelle Persson
                td JOS
              tr
                td 0 publik / 2 utkast
                td
                  | Lorem Ipsum
                  br
                  | Founder & CEO
                td Kalle Kanin
                td JUICE

  include includes/footer