include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Kalles catering
      .row.administration-content
        .large-2.columns.medium-6.columns
          label Kundansvarig
            select
              option(value='ingen') Ingen
              option(value='alla') Alla
              option(value='jennie-sterner') Jennie Sterner
              option(value='johnny-sterner') Johnny Sterner
              option(value='toni-lahtinen') Toni Lahtinen
        .large-2.columns.medium-6.columns.end
          label Tilldelad grupp
            select
              option(value='medlem') Medlem
              option(value='prospect') Prospect
              option(value='bransch') Bransch
              option(value='privatkund') Privatkund
              option(value='foretagskund') Företagskund
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1') Kontakt och Personal
              #content1.content
                .row
                  .large-12.columns
                    ul.large-block-grid-3.medium-block-grid-2.small-block-grid-1
                      li
                        h5 Kontakta vid förnyelse
                        .panel
                          img.profile(src='http://placehold.it/64x64')
                          ul.personnel
                            li Kalle Kanin
                            li VD
                            li
                              a(href='#') kalle.kanin@kanincatering.se
                            li 0706 27 29 12
                      li
                        h5 Medarbetare
                        .panel
                          img.profile(src='http://placehold.it/64x64')
                          ul.personnel
                            li Kalle Kanin
                            li Teknisk Chef
                            li
                              a(href='#') kalle.kanin@kanincatering.se
                            li 0706 27 29 12
                      li
                        h5 Medarbetare
                        .panel
                          img.profile(src='http://placehold.it/64x64')
                          ul.personnel
                            li Kalle Kanin
                            li Kattskötare
                            li
                              a(href='#') kalle.kanin@kanincatering.se
                            li 0706 27 29 12
                      li
                        h5 Medarbetare
                        .panel
                          img.profile(src='http://placehold.it/64x64')
                          ul.personnel
                            li Kalle Kanin
                            li Kattskötare
                            li
                              a(href='#') kalle.kanin@kanincatering.se
                            li 0706 27 29 12
                  .small-12.columns
                    a.button.expand(href='#') Skapa ny kontakt
            dd
              a(href='#content2') Addresser
              #content2.content
                | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            dd
              a(href='#content3b') Profilsidor
              #content3b.content
                a.button Skapa ny profilsida
                table#customer-table.dynamic-table
                  thead
                    tr
                      th Sidans namn
                      th Företag
                      th Kontaktperson
                      th Sökord / Taggar
                      th Synlig / Släckt
                  tbody
                    tr
                      td Lindaus bokningssida
                      td Lindau produktion
                      td Anders Lundin
                      td anders, lundin, bokning
                      td Synlig
                    tr
                      td Inlands bussbiljetter
                      td Inlands busstrafik AB
                      td Kalle Kanin
                      td buss, brum, biljett
                      td Släckt
                    tr
                      td Lindaus bokningssida
                      td Lindau produktion
                      td Anders Lundin
                      td anders, lundin, bokning
                      td Synlig
                    tr
                      td Inlands bussbiljetter
                      td Inlands busstrafik AB
                      td Kalle Kanin
                      td buss, brum, biljett
                      td Släckt
            dd
                  a(href='#panel4b') Statistik
                  #panel4b.content
                    | Panel 4. Lorem ipsum dolor
        .large-12.medium-12.columns
          ul.small-block-grid-1.large-block-grid-2
            li
              dl.accordion(data-accordion='myAccordionGroup')
                dd
                  a(href='#panel2b') Erbjudanden
                  #panel2b.content
                    table#my-table.dynamic-table
                      thead
                          tr
                            th Rubrik
                            th Aktiv fr.o.m.
                            th Slutdatum
                            th Publikt
                        tbody
                          tr
                            td Julbord från 99:-
                            td 2013-02-12
                            td 2014-12-31
                            td
                              .red-ball
                          tr
                            td Bananer 98:-/styck
                            td 2010-12-23
                            td 2015-12-12
                            td
                              .green-ball
                          tr
                            td Gaffel 1:-/styck
                            td 2010-11-23
                            td 2010-12-24
                            td 
                              .yellow-ball
                          tr
                            td Gaffel 1:-/styck
                            td 2010-11-23
                            td 2010-12-24
                            td 
                              .yellow-ball
                    a.button.expand Nytt erbjudande
            li
              dl.accordion(data-accordion='myAccordionGroup')
                dd
                  a(href='#panel5b') Intresselista
                  #panel5b.content
                    #jstree
                      ul
                        li
                          | Annonser
                          ul
                            li#child_node_1 Julannonser
                            li Påskannonser
                        li Mässor
      .row
        .large-10.medium-8.columns
          h3 Historik
        .large-2.medium-4.columns
          select
            option(value='all-history') All historik
            option(value='billing') Fakturering
            option(value='other') Övrigt
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1c') Samtal: förnyelse
              #content1c.content
                | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
            dd
              a(href='#content2c') Faktura 1239 betald
              #content2c.content
                | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
            dd
              a(href='#content3c') Faktura 1239 skapad
              #content3c.content
                | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
      .row
        .large-12.medium-12.columns
          h3 Kommande kontakter
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1d') Samtal: förnya profilsida
              #content1d.content
                | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
            dd
              a(href='#content2d') Byt logotyp
              #content2d.content
                | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
          a.button(href='#') Skapa ny

  include includes/footer