include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Sidlista
      .row
        .small-12.columns
          table#customer-table.dynamic-table
            thead
              tr
                th Rubrik
                th URL
                th Status
            tbody
              tr
                td Julbord
                td /fefe/fefe
                td
                  .green-ball
              tr
                td Bananer
                td /foespkfespo/fesjfesö
                td
                  .green-ball
              tr
                td Gaffel
                td /sefkps/soefopse
                td 
                  .yellow-ball
              tr
                td Sill
                td /adlwpaå/awäöda
                td 
                  .yellow-ball

  include includes/footer