include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Kommande kontakter
      .row
        .small-12.columns
          span.dynatable-custom-select Kundansvarig
            select#search-group(name='group')
              option
                option(value='jennie-sterner') Jennie Sterner
                option(value='johnny-sterner') Johnny Sterner
                option(value='toni-lahtinen') Toni Lahtinen
          table#group-table.dynamic-table
            thead
              tr
                th Datum och tid
                th Beskrivning
                th Företag
                th Kontakttyp
                th Kundansvarig
            tbody
              tr
                td 2014-05-12 12:15
                td Kontaktmöte för att finansiera ny transport av sill till Götlaborg
                td Pelles Sillfabrik AB
                td Övrigt
                td Jennie Sterner
              tr
                td 2014-12-12 12:15
                td Vill lägga till nya sillsorter på profilsidan
                td Pelles Sillfabrik AB
                td Förnya Profilsida
                td Johnny Sterner
              tr
                td 2014-12-12 13:15
                td Stäng ner hemsidan pga konkurs
                td Arnes Sillfiskeri HB
                td Släck
                td Jennie Sterner
              tr
                td 2013-11-12 12:15
                td Kontaktmöte för att finansiera ny transport av sill till Götlaborg
                td Pelles Sillfabrik AB
                td Övrigt
                td Jennie Sterner

  include includes/footer