include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Skicka mail till profilsida
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1') Mail
              #content1.content.active
                .row
                  .small-6.columns
                    label
                      | Ditt namn*
                      input(type='text')
                  .small-6.columns
                    label
                      | Företagsnamn
                      input(type='text')
                  .small-6.columns
                    label
                      | Ditt telefonnummer*
                      input(type='text')
                  .small-6.columns
                    label
                      | Din e-postadress*
                      input(type='text')
                  .small-12.columns
                    label
                      | Meddelande*
                      textarea

          a.button(href='#') Skicka mailet till [profilsidans mailadress]

  include includes/footer