include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Skapa Profilsida
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1') Företagsinfo
              #content1.content.active
                .row
                  .small-8.columns
                    label
                      | Sidans namn
                      input(type='text')
                    hr
                    .row
                      .small-6.columns
                        label
                          | Företag
                          input(type='text')
                      .small-6.columns
                        label
                          | Kontaktperson
                          input(type='text')
                      .small-6.columns
                        label
                          | Postadress
                          input(type='text')
                      .small-6.columns
                        label
                          | Postnummer
                          input(type='text')
                      .small-6.columns
                        label
                          | Ort
                          input(type='text')
                      .small-6.columns
                        label
                          | Län
                          input(type='text')
                      .small-6.columns.end
                        label
                          | Land
                          input(type='text')
                    .row
                      .small-12.columns
                        hr
                      .small-6.columns
                        label
                          | Telefon 1
                          input(type='text')
                      .small-6.columns
                        label
                          | Telefon 2
                          input(type='text')
                      .small-6.columns.end
                        label
                          | E-postadress
                          input(type='text')
                    .row
                      .small-12.columns
                        hr
                      .small-6.columns
                        label
                          | Länk till Facebook
                          input(type='url')
                      .small-6.columns
                        label
                          | Länk till Twitter
                          input(type='url')
                      .small-6.columns.end
                        label
                          | Länk till Instagram
                          input(type='url')
                  .small-4.columns
                    img(src="http://placehold.it/350x350")
                    a.button.expand(href='#') Ladda upp logotyp
            dd
              a(href='#content2') Eventinfo
              #content2.content.active
                .row
                  .small-12.columns
                    label
                      | Fri text (max 35 tecken)
                      textarea(maxlength='35')
                    hr
                  .small-6.columns
                    label
                      | Största sällskap
                      input(type='number')
                  .small-6.columns
                    label
                      | Antal mötesrum
                      input(type='number')
                  .small-6.columns
                    label
                      | Största möteslokal
                      input(type='number')
                  .small-6.columns
                    label
                      | Sittande matgäster
                      input(type='number')
                  .small-6.columns
                    label
                      | Mingel/stående
                      input(type='number')
                  .small-6.columns
                    label
                      | Logi, antal bäddar
                      input(type='number')
                  .small-12.columns
                    label Artistpris
                      br
                      input#input1(type='radio', name='price', value='0-30')
                      label(for='input1') 0-15 tkr
                      input#input2(type='radio', name='price', value='30-60')
                      label(for='input2') 15-50 tkr
                      input#input3(type='radio', name='price', value='60-90')
                      label(for='input3') 50-100 tkr
                      input#input4(type='radio', name='price', value='90-120')
                      label(for='input4') över 100 tkr
                    hr
                  .small-12.columns
                    h6 Kategorier
                    #jstree-profil
                      ul
                        li
                          | Huvudkategori
                          ul
                            li#child_node_1 Underkategori
                            li Underkategori
                        li Huvudkategori
            dd
              a(href='#content3') Flikar
              #content3.content.active
                .row
                  .small-12.columns
                    h6 Presentations-flik
                    label
                      | Rubrik
                      input(type='text')
                    label
                      | Text
                      textarea
                  .small-12.columns
                    h6 Extra-flik
                    label
                      | Fliknamn
                      input(type='text')
                    label
                      | Rubrik
                      input(type='text')
                    label
                      | Text
                      textarea
            dd
              a(href='#content4') Media
              #content4.content.active
                .row
                  .small-12.columns
                    img(src="http://placehold.it/950x250")
                    a.button.expand(href='#') Ladda upp bild
                    label
                      | Bildtext
                      textarea
                    hr
                  .small-4.columns
                    a.button.expand(href='#') Ladda upp filmklipp
                  .small-4.columns
                    a.button.expand(href='#') Ladda upp ljudfiler
                  .small-4.columns
                    a.button.expand(href='#') Ladda upp pdf-filer
            dd
              a(href='#content5') Karta
              #content5.content.active
                .row
                  .small-12.columns
                    label
                      | Adress för karta
                      input(type='text')
            dd
              a(href='#content6') Sidinställningar
              #content6.content.active
                .row
                  .small-12.columns
                    label
                      | Sidtyp
                      select
                        option(value='small') Small
                        option(value='medium') Medium
                        option(value='large') Large
                    hr
                  .small-12.columns
                    h6 Periodinformation
                    .row
                      .small-3.columns
                        label
                          | Startperiod
                          input#profile-period-start.datepicker
                      .small-3.columns.end
                        label
                          | Slutperiod
                          input#profile-period-end.datepicker
                  .small-12.columns
                    h6 Topplacering
                    .row
                      .small-3.columns
                        label
                          | Startperiod
                          input#top-placement-start.datepicker
                      .small-3.columns.end
                        label
                          | Slutperiod
                          input#top-placement-end.datepicker
                    hr
                  .small-12.columns
                    label Synlighetsinställningar
                      br
                      input#show(type='radio', name='value', value='show')
                      label(for='show') Synlig
                      input#hidden(type='radio', name='value', value='hidden')
                      label(for='hidden') Släckt
            dd
              a(href='#content7') SEO
              #content7.content.active
                .row
                  .small-12.columns
                      label
                        | Profilsidans URL-adress
                        input(type='text')
                      label
                        | Titel (max 70 tecken)
                        input(type='text' maxlength='70')
                      label
                        | Beskrivning (max 150 tecken)
                        textarea(maxlength='150')
                      label
                        | Sökord/taggar
                        input(type='text')

          a.button(href='#') Spara

  include includes/footer