include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Skapa erbjudande
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1') Information kring erbjudandet
              #content1.content.active
                .row
                  .small-8.columns
                    .row
                      .small-12.columns
                        label
                          | Titel
                          input(type='text')
                      .small-12.columns
                        label
                          | Brödtext
                          textarea
                      .small-4.columns
                        label
                          | Startperiod
                          input#profile-period-start.datepicker
                      .small-4.columns
                        label
                          | Slutperiod
                          input#profile-period-end.datepicker
                      .small-4.columns
                        label
                          | Typ av erbjudande
                          select
                            option(value='normal') Normal
                            option(value='jul') Jul
                      .small-12.columns
                        label
                          | Länk till profilsida
                          input(type='text')
                      .small-12.columns
                        label
                          | SEO
                          input(type='text')
                  .small-4.columns
                    img(src="http://placehold.it/350x350")
                    a.button.expand(href='#') Ladda upp bild

          a.button(href='#') Spara erbjudande

  include includes/footer