include includes/head
body
  include includes/nav

  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns
      h3 Album
      .row.administration-content
        .large-12.medium-12.columns
          dl.accordion(data-accordion='data-accordion')
            dd
              a(href='#content1') Nytt album
              #content1.content.active
                .row
                  .small-12.columns
                    label
                      | Titel
                      input(type='text')
                    label
                      | Brödtext
                      textarea
                  .small-12.columns
                    h6 Omslagsbild
                    img(src="http://placehold.it/900x250")
                    a.button.expand Ladda upp omslagsbild
                  .small-12.columns
                    h6 Albumbilder
                    ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
                      li
                        a(href='#')
                          img(src="http://placehold.it/450x300&text=Ny bild")
                        a.button.expand Ladda upp ny bild
                        label
                          | Bildtext
                          textarea
                  .small-12.columns
                    h6 SEO
                    label
                      | Titel (max 70 tecken)
                      input(type='text' maxlength='70')
                    label
                      | Beskrivning (max 150 tecken)
                      textarea(maxlength='150')
                    label
                      | Sökord/taggar
                      input(type='text')

        .large-2.columns.end
          a.button(href='#') Spara

  include includes/footer