.footer
  ul.title-area
    li.name
      | Eventmarket ADM v. 1.0.17

script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/foundation/js/foundation.min.js')
script(src='js/jstree/jstree.min.js')
script(src='js/dynatable/jquery.dynatable.js')
script(src='js/datepicker/zebra_datepicker.js')
script(src='js/app.js')