doctype
html.no-js(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title ADM
  link(rel='stylesheet', href='stylesheets/app.css')
  link(rel='stylesheet', href='js/jstree/themes/default/style.min.css')
  link(rel='stylesheet', href='js/datepicker/bootstrap.css')
  script(src='bower_components/modernizr/modernizr.js')